.annoncePage_error-content {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    margin-top: 150px;
    gap: 100px;
}

.annoncePage_error-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}

.faFrownOpen {
    height: 250px;
}