header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    font-weight: 500;
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: #FF6060;
}

header ul {
    list-style: none;
    color: #FF6060;
}

.header_logo {
    width: 220px;
    height: auto;
}

.header_ul {
    display: flex;
    gap: 60px;
    height: 34px;
    font-family: 'Montserrat', sans-serif;
}

.header_homepage-link.active {
    text-decoration: underline;
}

.header_about-link.active {
    text-decoration: underline;
}

@media (max-width: 1279px) {
    header {
        width: auto;
    }

    .header_nav {
        white-space: nowrap;
    }
}

@media (max-width: 599px) {

    header {
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 20px;
        text-transform: uppercase;
        height: 50px;
    }

    .header_logo {
        width: 150px;
    }

    .header_nav {
        justify-self: flex-end;
        width: 140px;
    }

    .header_ul {
        justify-content: end;
        align-items: center;
        position: relative;
        gap: 10px;
        font-weight: 600;
    }
}